<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Twitter | Anonymous Vent - Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body>
    <div style="margin-left: 10px; margin-right: 10px;">
        <center>
            <img src="/twitter.png" height="55px" width="55px" style="float: left; margin-left: 10px; margin-top: 5px; padding: 5px;">
            <h3 style="font-weight: 500; margin-right: 15px; float: right;">Twitter - Anonymous Venting</h3>
            <form action="https://tvent.charlzk.repl.co/vent" method="get">
                <div style="margin-top: 10px; border-radius: 5px; padding: 10px; background-color: #0C151C;">
                    <div>
                        <textarea name="content" style="height: 600px;" placeholder="Vent here ..."></textarea>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <button type="submit" id="submitButton" style="width: 260px;" disabled>Submit</button>
                    <button id="GoToButton" style="width: 260px;">Go to twitter page</button>
                </div>
            </form>
            <div style="margin-top: 10px;">
                <font style="color: #ff7369;" id="warningMsgBox">Textarea must be at least 12 characters in length</font>
            </div>
            <hr style="margin-top: 20px;">
            <div style="margin-top: 20px;">
                <button id="GoToSourceButton" style="width: 260px;">View Source Code</button>
            </div>
        </center>
    </div>
  <script>
      const content = document.getElementsByName("content")[0];
      const submitButton = document.getElementById("submitButton");
      const GoToButton = document.getElementById("GoToButton");
      const warningMsgBox = document.getElementById("warningMsgBox");
      const GoToSourceButton = document.getElementById("GoToSourceButton");
    
      content.addEventListener("input", function(e) {
          if (e.target.value.length > 12) {
              submitButton.disabled = false;
              warningMsgBox.style.visibility = "hidden";
          } else {
              submitButton.disabled = true;
              warningMsgBox.style.visibility = "visible";
          }
      });

      GoToSourceButton.addEventListener("click", function() {
          window.location.href = "";
      });

      GoToButton.addEventListener("click", function() {
          window.location.href = "https://twitter.com/AnonymousVent5";
      });
  </script>
</body>
</html>